
.banner-portion{
    background-image: url("https://image.freepik.com/free-psd/top-view-stethoscope-mock-up_23-2148552973.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    

}


.link-btn{
    text-decoration: none;
}