/* .navbar{
    display: flex;
    justify-content: space-between;
    background-color: beige;
    line-height: 10px;
    justify-items: center;
    align-items: center;
} */
.custom-nav{
    line-height: 40px;
}

.navbar-img{
    width: 180px;
}

.navlink{
    text-decoration: none;
    margin-right: 10px;
    font-size: 18px;
}
.logout-bt{
    border: none;
    background-color: greenyellow;

}